<mat-accordion displayMode="flat" [multi]="true">
    <mat-expansion-panel [expanded]="patientOpenState"
                         (opened)="patientOpenState = true"
                         (closed)="patientOpenState = false" hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{fullname}}
            </mat-panel-title>
            <mat-panel-description>
                <div *ngIf="!patientOpenState" fxLayout="row" fxLayoutGap="8px">
                    <span>{{ summary.vitalSign.temp |  number:'.1-1'}} ℃</span>
                    <span>{{ summary.vitalSign.freq | number:'.0-0'}} bpm</span>
                    <span>{{ summary.vitalSign.spo2 | number:'.0-0'}}%</span>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row">
            <div fxFlex fxLayout="column" fxLayoutGap="16px">
                <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="8px">
                    <div fxFlex="0">
                        <app-patient-info [patient]="summary.patient"></app-patient-info>
                    </div>
                    <div fxFlex="0">
                        <app-vital-sign [vitalsign]="summary.vitalSign"></app-vital-sign>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu"
                        [matMenuTriggerData]="{patient: summary.patient}">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="statOpenState"
                         (opened)="statOpenState = true"
                         (closed)="statOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title *ngIf="statOpenState">
                Statistics (updated every minute)
            </mat-panel-title>
            <mat-panel-description *ngIf="!statOpenState">
                Click to show statistics
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <app-vital-sign-stat [vitalsignstat]="summary.vitalSignStat"></app-vital-sign-stat>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>

<mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-patient="patient">
        <button mat-menu-item (click)="edit(patient)">Edit</button>
        <button mat-menu-item (click)="delete(patient)">Delete</button>
    </ng-template>
</mat-menu>
