<app-patient-summary-list [summaries]="patientSummaries$ | async" (patientDelete)="onPatientDelete($event)" (patientEdit)="onPatientEdit($event)"></app-patient-summary-list>
<button mat-fab color="accent" class="fab" (click)="onAddClicked()">
    <mat-icon >add</mat-icon>
</button>
