<h2 mat-dialog-title>Add patient</h2>
<mat-dialog-content>
  <app-patient-form></app-patient-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button class="mat-accent" [mat-dialog-close]="formService.value" [disabled]="!formService.valid">Add</button>
</mat-dialog-actions>
