<div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="space-around" *ngIf="vitalsignstat; else availableSoon">
    <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center" style="display: block">
        <strong>Temperature</strong>
        <canvas baseChart
                [legend]="false"
                [labels]="['min','max','avg']"
                [data]="[vitalsignstat.temp.min,vitalsignstat.temp.max,vitalsignstat.temp.avg]"
                [options]="barChartOptions"
                [chartType]="barChartType">
        </canvas>
    </div>
    <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center" *ngIf="vitalsignstat" style="display: block">
        <strong>Frequency</strong>
        <canvas baseChart
                [legend]="false"
                [labels]="['min','max','avg']"
                [data]="[vitalsignstat.freq.min,vitalsignstat.freq.max,vitalsignstat.freq.avg]"
                [options]="barChartOptions"
                [chartType]="barChartType">
        </canvas>
    </div>
    <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center" *ngIf="vitalsignstat" style="display: block">
        <strong>%O2</strong>
        <canvas baseChart
                [legend]="false"
                [labels]="['min','max','avg']"
                [data]="[vitalsignstat.spo2.min,vitalsignstat.spo2.max,vitalsignstat.spo2.avg]"
                [options]="barChartOptions"
                [chartType]="barChartType">
        </canvas>
    </div>
</div>
<ng-template #availableSoon>
    <div fxLayout="row" fxLayoutAlign="center center">
        <strong>Statistics will be available soon...</strong>
    </div>
</ng-template>

