<form [formGroup]="formGroup">
    <div fxLayout="column">
        <div fxLayout="row wrap" >
            <mat-form-field fxFlex="0">
                <input matInput type="text" placeholder="First name" formControlName="firstname">
            </mat-form-field>
            <mat-form-field fxFlex="0">
                <input matInput type="text" placeholder="Last name" formControlName="lastname">
            </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" min="0" max="140" placeholder="Age" formControlName="age">
        </mat-form-field>
        <mat-select placeholder="Gender" formControlName="sex">
            <mat-option *ngFor="let gender of genderOptions" [value]="gender.value">
                {{gender.label}}
            </mat-option>
        </mat-select>
    </div>
</form>

