<div>
  <h3>Patient Summary</h3>
</div>
<div fxLayout="column" fxLayoutGap="16px">
  <app-patient-summary-item *ngFor="let summary of summaries; trackBy: trackByFn"
                            [summary]="summary"
                            (patientEdit)="onPatientEdit($event)"
                            (patientDelete)="onPatientDelete($event)">
  </app-patient-summary-item>
</div>
