<div fxLayout="column" fxLayoutGap="4px">
  <div fxLayout="row wrap" fxLayoutGap="4px">
    <strong>Name :</strong><span>{{fullname}}</span>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="4px">
    <strong>Email :</strong><span>{{email}}</span>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="4px">
    <strong>Age :</strong><span>{{age}}</span>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="4px">
    <strong>Sex :</strong><span>{{sex}}</span>
  </div>
</div>
