
<div *ngIf="vitalsign; else loading">
  <div  class="vitalsign" gdAreas="temp freq spo2" fxLayoutGap="8px">
    <div gdArea="temp" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="center center" >
      <strong>Temp</strong><span>{{ vitalsign.temp |  number:'.1-1'}} ℃</span></div>
    <div gdArea="freq" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="center center">
      <strong>Freq</strong><span>{{ vitalsign.freq | number:'.0-0'}} bpm</span></div>
    <div gdArea="spo2" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="center center">
      <strong>%O2</strong><span>{{ vitalsign.spo2 | number:'.0-0'}}%</span></div>
  </div>
</div>
<ng-template #loading>
  Loading...
</ng-template>

